body
{ 
    background-color: #f4f4f4;
	font-family: Helvetica, Arial, Segoe UI;
	font-size: 14px;
	margin: 0;
	padding: 0;
    height:100%;
    padding: 0px 0px 24px 0px;
    overflow:hidden;
}

.header
{
    background-color: #5a87c5;
    color: #fff;
	padding: 10px 0px 10px 0px;
	text-align: center;
    font-size: 18px;
}

.content
{
	padding: 20px 0px 10px 10px;
    color: #333;
}

.button-div
{
    text-align: center;	
}

.button
{
	background-color: #ff9d01;
    border-color: #eea236;  
    border-radius: 10px;
    border: 2px solid;
	width: 170px;
    height: 50px;
    color: #fff;    
    font-size: 16px;
}

.result-div
{
    padding: 20px 0px 10px 0px;
}

.trailer
{
    background-color: #3d3d3d;
    color: #fff;
	text-align: center;    
    font-size: 10px;   
    position: absolute;
    height: 35px;
    width:100%;
   	bottom:0px;    
    padding: 10px 0px 10px 0px;
}

.banner
{
    height: 70px;
    width: 100%;
    background: url('img/demand-supply-chain-hero.jpg');
	background-repeat: no-repeat;
	background-size:cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size:cover; 
    -o-background-size: cover;     
}

.nfeLogo
{
	padding: 10px 0px 10px 0px;
	text-align: center;
    opacity: 0.4;
}